@import 'tailwindcss';

:root {
	--primary: oklch(44.22% 0.102 254.51);
	--foreground: oklch(40% 0 0);
	--background: oklch(80% 0 0);
	--bg-content: oklch(87.2% 0.01 258.338);
	--bg-muted: oklch(75.1% 0.027 264.364);
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: oklch(0.55 0.102 254.51);
		--foreground: oklch(80% 0 0);
		--background: oklch(30% 0 0);
		--bg-content: oklch(0.4 0.01 258.338);
		--bg-muted: oklch(0.6 0.027 264.364);
	}
}

body {
	@apply h-screen;
}

.gradient-purple {
	background-image: linear-gradient(to right, transparent 70%, purple);
}

.gradient-purple:nth-child(even) {
	background-image: linear-gradient(to right, transparent 70%, orange);
}

@theme {
	--color-primary: var(--primary);
	--color-secondary: #79b562;
	--color-danger-bg: oklch(50% 0.237 25.331);
	--color-foreground: var(--foreground);
	--color-foreground-muted: oklch(0.65 0 0);
	--color-foreground-light: oklch(0.88 0 0);
	--color-background: var(--background);
	--color-background-content: var(--bg-content);
	--color-background-muted: var(--bg-muted);
}
